<!-- <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>© 2014 Claire Reynaud EIRL. All Rights Reserved.<br>
                    7 Boulevard Dalgabio<br>
                    42000 Saint-Etienne<br>
                    France</p>
            </div>
            <div class="col-md-4" style="text-align: right">
                <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
                <a class="page-link" href="/about/">About</a>
            </div>
        </div>
    </div>
</div> -->
