<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand-title" href="{{ site.baseurl }}/">{{ site.title}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-link" href="/">Home</a></li>
                {% for page in site.pages %}
                {% if page.title and page.header %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>
